/*
// Project Name: Milestone8
// Project Version: 1.7
// Module Name: Comment on and Rate a Blog Post
// Module Version: 1.7
// Programmer Name: Justin Gewecke
// Date: 8/2/2020
// Description: This module handles the rating and commenting portion of the website
// References: https://www.w3schools.com/php/php_mysql_insert.asp
*/

div.settings {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
}
div.settings label       { text-align:right; }
div.settings label:after { content: ":"; }

.group {
	display: flex;
	margin-bottom: 5px;
}

div.comment {
	text-indent: 30px;
}

.hide { 
	position:absolute; 
	top:-1px; 
	left:-1px; 
	width:1px; 
	height:1px; 
}

.rating {
	display: flex;
}

input[type=text] {
	height: 2opx;
	align-items: flex-end;
	margin-left: 10px;
}

input[type=password] {
	height: 2opx;
	align-items: flex-end;
	margin-left: 10px;
}

.textInput {
  display: inline-block;
  width: 6em;
  margin-right: .5em;
  padding-top: 1.5em;
}

.postSubmit {
	display: inline-block;
 	width: 6em;
 	position: relative;
 	top: -3em;
}

.button {
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
  }
  
  .button1 {
	background-color: white; 
	color: black; 
	border: 2px solid #4CAF50;
  }
  
  .button1:hover {
	background-color: #4CAF50;
	color: white;
  }
  
  .button2 {
	background-color: white; 
	color: black; 
	border: 2px solid #008CBA;
  }
  
  .button2:hover {
	background-color: #008CBA;
	color: white;
  }